.git
.github
.gitattributes
.gitignore

node_modules
vendor
public/build
public/hot
public/storage

.env
.env.*
!.env.example
auth.json

tests
phpunit.xml
phpunit.xml.dist
.phpunit.cache
.phpunit.result.cache
coverage

phpstan.neon
phpstan.neon.dist
phpstan-baseline.neon
.phpstan.cache
pint.json
rector.php
pest.php

*.md
docs

database/factories

.idea
.vscode
.fleet
.nova
.zed
.phpactor.json
.editorconfig

docker-compose*.yml
Dockerfile

bootstrap/cache/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

npm-debug.log
yarn-error.log
*.log
.DS_Store
